@use "../styles/global.scss" as *;

.contactHeader {
	position: relative;
	isolation: isolate;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 280px;
	min-height: 40vh;
	background-image: url("../assets/photos/Contact/drzewkaIkamyki.png");
	background-image: url("../assets/photos/Contact/grass.png");
	background-size: 140%;
	background-position: 70% 10%;
}

@include responsive(md) {
	.contactHeader {
		background-size: cover;
	}
}
@include responsive(lg) {
	.contactHeader {
		height: 370px;
		min-height: 40vh;
		background-image: url("../assets/photos/Contact/grass_big.png");
		background-size: cover;
		background-position: 70% 20%;
	}
}
@include responsive(xl) {
	.contactHeader {
		height: 420px;
		min-height: 45vh;
		background-position: 70% 30%;
	}
}
@include responsive(xxl) {
	.contactHeader {
		height: 480px;
		background-position: 70% 30%;
	}
}
@include responsive(maximum){
	.contactHeader {
		background-position: 70% 40%;
	}
}