@use "../../../../styles/global.scss" as *;

.sliderContainer {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
	height: 635px;
	margin-bottom: 1.3rem;
}

.viewport {
	position: absolute;
	top: 0.5rem;
	left: 0;
	right: 0;
	overflow: hidden;
}
.track {
	display: flex;
	will-change: transform;
}
.slide {
	flex-grow: 0; //dont grow
	flex-shrink: 0; //dont go smaller
	flex-basis: 100%;
	min-width: 100%;
	display: grid;
	place-items: center;
}
.btn {
	position: absolute;
	bottom: -20px;
	right: 50%;
	width: 60px;
	border-radius: 50%;
	background-color: $primary-colorBgc;
	border: 3px solid $mobile-accordion-color;
	box-shadow: inset 0px 0px 15px $mobile-accordion-color;
	cursor: pointer;
}

.btnNext {
	right: 30%;
}
.btnPrev {
	left: 32%;
}

@media (min-width: 375px) {
	.btn {
		bottom: 0px;
	}
}
@media (min-width: 412px) {
	.btn {
		bottom: 20px;
	}
}

// width 576px
@include responsive(sm) {
	.sliderContainer {
		margin-bottom: 9rem;
		.slide {
			min-height: 620px;
		}
	}
	.btnNext {
		right: 34%;
	}
	.btnPrev {
		left: 34%;
	}
	.btn {
		bottom: -80px;
	}
}

// width 768px
@include responsive(md) {
	.sliderContainer {
		margin-bottom: 4rem;
		max-width: 92vw;
		min-height: 500px;
		max-height: 500px;

		.slide {
			min-height: 460px;
			max-height: 460px;
		}
		.viewport {
			top: 10px;
		}
	}
	.btn {
		bottom: 0px;
	}
	.btnNext {
		right: calc(50% - 70px);
	}
	.btnPrev {
		left: calc(50% - 70px);
	}
}

// width 1200px
@include responsive(xl) {
	.sliderContainer {
		min-width: 1000px;
		max-width: 1000px;
	}
	.btn {
		top: 88%;
	}
}

// width 1400px
@include responsive(xxl) {
	.sliderContainer {
		min-width: 1100px;
		max-width: 1100px;
		min-height: 550px;
		max-height: 550px;

		.slide {
			min-height: 500px;
			max-height: 500px;
		}
		.btn {
			width: 65px;
			top: 87%;
			bottom: 3%;
		}
	}
}