.formContainer {
	display: flex;
	flex-direction: column;
}

.h2 {
	margin-top: 4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
	font-size: 1.7rem;
	letter-spacing: 0.1rem;
	font-weight: 500;
}
.extraMargin {
	margin-top: 5rem;
}

.ContactTxtArea {
	min-width: 250px;
	margin-top: 0.5rem;
	margin-left: 0;
	margin-left: 1rem;
	padding: 1rem 1.5rem;
	font-size: 1.4rem;
	letter-spacing: 0.7px;
	border-radius: .5rem;
	text-align: left;
	color: #000;
	background-color: #fff;
	border: 1px solid #333;


	&:focus {
		background-color: rgb(244, 244, 244);
		outline: 1px solid rgb(4, 64, 40);
	}
}