// colors: 
$primary-color: rgb(23, 76, 30);
$text-color:#ffffffdf;
$hero-shadow-color: rgba(19, 93, 6, 0.333);
$mobile-accordion-color: rgba(27, 105, 10, 0.911); 

//for show this element
$test: #ffffff34;