// colors: 
$primary-color: rgb(23, 76, 30);
$primary-colorBgc: rgb(19, 65, 25); //backgroundTopbar
$text-color:#ffffffdf;
$hero-shadow-color: rgba(19, 93, 6, 0.333);
$mobile-accordion-color: rgba(27, 105, 10, 0.911); 

//for show this element
$test: #ffffff34;

// Shadow colors:
$bg-shadow-ultra-dark: rgba(0, 0, 0, 0.92);
$bg-shadow-dark: rgba(0, 0, 0, 0.75);
$bg-shadow: rgba(0, 0, 0, 0.6);
$bg-shadow-light: rgba(0, 0, 0, 0.473);
$bg-shadow-ultra-light: rgb(0, 0, 0, 0.3);
$shadow-white: rgba(255, 255, 255, 0.81);
$gray-shadow: rgba(255, 255, 255, 0.5);
$green-shadow: rgba(0, 123, 17, 0.65); //subscribe form