@import "../styles/global.scss";

.accordionMenu {
	display: flex;
	align-items: center;
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	width: 100%;
	height: 300px;
	transform: translateY(-130%);
	color: #000;
	background-color: $mobile-accordion-color;
	transition: 0.7s;
	z-index: 899;
}

.active {
	transform: translateY(1%);
}

.list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 2rem;
	font-size: 2.5rem;
	width: 70%;
	color: #fff;
	text-shadow: 1px 1px 5px #000000ca;

	li {
		padding: 0.9rem;
	}
}

@include responsive(sm) {
	.list{
		li {
		padding: 1.3rem;
		letter-spacing: .1rem;
	}
	}
}