@use "../styles/global.scss" as *;

.btn_valuation {
	margin-top: 3.5rem;
	padding: 1.4rem 2.4rem;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	border: none;
	color: whitesmoke;
	background-color: $primary-color;
	transition: 0.3s;
	cursor: pointer;
}

.btnForm {
	display: flex;
	align-self: center;
	justify-content: center;
	padding: 1.5rem 1.5rem;
	letter-spacing: 0.15em;
	border-radius: 15px;
	margin-bottom: 1rem;
	width: 70%;
}

@media (min-width: 412px) {
	.btn_valuation {
		padding: 1.7rem 2.7rem;
		font-size: 1.6rem;
	}
}

// width: 576px
@include responsive(sm) {
	.btn_valuation {
		margin-top: 3.8rem;
		padding: 1.4rem 2.3rem;
		font-size: 1.6rem;
		word-spacing: 0.4rem;
		font-weight: 500;

		&:hover {
			background-color: $mobile-accordion-color;
		}
	}
	.btnForm {
		margin-bottom: 1.8rem;
		width: 27rem;
	}
}

// width: 768px
@include responsive(md) {
	.btn_valuation {
		padding: 1.5rem 2.4rem;
		font-size: 1.7rem;
	}
	.btnForm {
		width: 23rem;
	}
}

// width: 1200px
@include responsive(xl) {
	.btn_valuation {
		padding: 1.6rem 2.5rem;
	}
}

// width: 1400px
@include responsive(xxl) {
	.btn_valuation {
		margin-top: 4rem;
		padding: 1.7rem 2.7rem;
		font-size: 1.7rem;
	}
}

// width: 1500px
@include responsive(maximum) {
	.btn_valuation {
		padding: 1.8rem 2.8rem;
		font-size: 1.8rem;
	}
}
