@import "../styles/global.scss";

.header {
	position: relative;
	isolation: isolate;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 470px;
	min-height: 62vh;
	padding: 20px;
	text-align: center;
	background-image: url("../assets/header-photo-2.png");
	background-size: 210%;
	background-position: 55% 10%;
	overflow: hidden;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: $hero-shadow-color;
		z-index: 0;
		pointer-events: none;
	}
}
.content {
	position: relative;
	z-index: 1;
}

.title {
	font-family: "Montserrat", sans-serif;
	font-size: 2.3rem;
	line-height: 1.4;
	letter-spacing: 0.3rem;
	text-shadow: 3px 3px 5px #000;
	color: $text-color;
}

@media (min-width: 390px) {
	.header {
		height: 550px;
		min-height: 65vh;
		background-size: 220%;
	}
}

// width: 576px
@include responsive(sm) {
	.header {
		height: 480px;
		padding: 40px;
	}
	.title {
		font-size: 2.5rem;
		line-height: 1.6;
	}
}
// width: 768px
@include responsive(md) {
	.header {
		height: 550px;
		min-height: 70vh;
		background-size: 200%;
		background-position: 50% 0%;
	}
}
// width: 992px
@include responsive(lg) {
	.title {
		width: 500px;
		font-size: 2.6rem;
		word-spacing: 0.3rem;
	}
	.header {
		height: 72vh;
		background-size: 100%;
	}
}
// width: 1200px
@include responsive(xl) {
	.header {
		height: 580px;
	}
}
// width: 1400px
@include responsive(xxl) {
	.header {
		height: 600px;
	}
	.title {
		width: 500px;
		font-size: 2.8rem;
		word-spacing: 0.4rem;
	}
}
// width 1500px
@include responsive(maximum) {
	.header {
		height: 620px;
	}
	.title {
		width: 550px;
		font-size: 3rem;
	}
}
