@import "../styles/global.scss";

.header {
	position: relative;
	isolation: isolate;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	padding: 20px;
	text-align: center;
	background-image: url("../assets/ogród-kwiaty.jpg");
	background-image: url("../assets/header-photo-2.png");
	background-size: cover;
	background-position: center;
	overflow: hidden;
	
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: $hero-shadow-color;
		z-index: 0;
		pointer-events: none;
	}
}
.content {
	position: relative;
	z-index: 1;
}

.title {
	font-family: "Montserrat", sans-serif;
	font-size: 2.3rem;
	line-height: 1.4;
	letter-spacing: .3rem;
	text-shadow: 3px 3px 5px #000;
	color: $text-color;
}