// .slider {
//   position: relative;
//   width: 100%;
//   max-width: 640px; // demo
//   margin: 0 auto;
//   user-select: none;
// }

// .viewport {
//   overflow: hidden;
//   width: 100%;
//   border-radius: 16px;
// }

// .track {
//   display: flex;
//   will-change: transform;
// }

// .slide {
//   flex: 0 0 100%; // zawsze 1 element na widoku
//   min-width: 100%;
//   display: grid;
//   place-items: center;
//   height: 260px;   // demo – ustaw wg potrzeb
// }

// /* przycisk „next” */
// .btn {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 8px;
//   background: rgba(255, 255, 255, 0.85);
//   border: none;
//   border-radius: 999px;
//   width: 40px;
//   height: 40px;
//   font-size: 22px;
//   line-height: 1;
//   cursor: pointer;
//   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);

//   &:hover {
//     background: #fff;
//   }
// }

// .btnNext {}

// /* --- DEMO (opcjonalne) --- */
// .demoCard {
//   width: 100%;
//   height: 100%;
//   color: #fff;
//   font-size: 32px;
//   font-weight: 700;
//   letter-spacing: .5px;
//   display: grid;
//   place-items: center;
//   border-radius: 16px;
// }

.sliderContainer {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
	height: 400px;
	background-color: rgba(255, 0, 0, 0.128);
}

.viewport {
	overflow: hidden;
}
.track {
  display: flex;
  will-change: transform;
}
.slide {
  flex-grow: 0;  //dont grow
  flex-shrink: 0;  //dont go smaller
  flex-basis: 100%;
  min-width: 100%;
  height: 260px;
  display: grid;
  place-items: center;
}
.btn {
  border: none;
  background: none;
}

.btnNext {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
.btnPrev {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.demo1 {
	background: #7c3aed;
  color: #fff;
}
.demo2 {
  background: #2563eb;
  color: #fff;
}
.demo3 {
  background: #059669;
  color: #fff;
}
.demo4 {
  background: #ea580c;
  color: #fff;
}
