@import "../styles/global.scss";

.sliderContainer {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
	height: 680px;
	// height: 700px;
	// background-color: rgba(255, 0, 0, 0.128);
}

.viewport {
  position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	overflow: hidden;
}
.track {
  display: flex;
	will-change: transform;
}
.slide {
	flex-grow: 0; //dont grow
	flex-shrink: 0; //dont go smaller
	flex-basis: 100%;
	min-width: 100%;
	display: grid;
	place-items: center;
}
.btn {
  position: absolute;
  top: 3%;
  right: 50%;
  width: 60px;
  border-radius: 50%;
  background-color: $primary-colorBgc;
  border: 3px solid $mobile-accordion-color;
  box-shadow: inset 0px 0px 15px $mobile-accordion-color;
}

.btnNext {
	transform: translate(110%, -50%);
}
.btnPrev {
	transform: translate(-10%, -50%);
}

.demo1 {
	background: #7c3aed;
	color: #fff;
}
.demo2 {
	background: #2563eb;
	color: #fff;
}
.demo3 {
	background: #059669;
	color: #fff;
}
.demo4 {
	background: #ea580c;
	color: #fff;
}
