@import "../styles/global.scss";

.sectionTitle {
	padding: 10px;
	margin: 15px;
	margin-top: 25px;
	width: 160px;
	align-self: center;
	text-align: center;
	font-size: 2.4rem;
	letter-spacing: 0.1rem;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 2px solid #33333371;
	border-radius: 15px;
}
.introText {
	font-size: 2.4rem;
	padding: 20px;
	text-align: justify;
	.spanA {
		font-weight: 500;
		color: rgb(102, 167, 42);
	}
	p {
		margin-top: 25px;
		letter-spacing: 0.1rem;
		word-spacing: 0.7rem;
		text-align: center;
	}
}
.layoutProducts {
	width: 100%;
}

// width 576px
@include responsive(sm) {
	.sectionTitle {
		font-size: 2.5rem;
	}
	.introText {
		p {
			margin-bottom: 10px;
		}
	}
}
// width 768px
@include responsive(md) {
	.sectionTitle {
		width: 180px;
		margin-bottom: 2.5rem;
		font-size: 2.7rem;
	}
	.introText {
		margin-left: 10px;
		margin-right: 10px;
	}
}
// width 992px
@include responsive(lg) {
	.introText {
		margin-left: 2rem;
		margin-right: 2rem;
		p {
			margin-bottom: 2rem;
		}
	}
}
// width 1200px
@include responsive(xl) {
	.introText {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;

		p {
			margin-bottom: 3rem;
		}
	}
	.layoutProducts {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
// width 1400px
@include responsive(xxl) {
	.sectionTitle {
		width: 200px;
		margin-bottom: 4.5rem;
		font-size: 3rem;
		letter-spacing: .2rem;
	}
	.introText {
		max-width: 1100px;
		font-size: 2.6rem;
	}
}
