@use "../styles/global.scss" as *;

.titleContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 6rem;
	margin-bottom: 60px;

	.sectionTitle {
		margin: 15px;
		padding: 10px;
		width: 160px;
		text-align: center;
		font-size: 2.6rem;
		letter-spacing: 0.1rem;
		font-weight: 500;
		text-transform: uppercase;
		border-bottom: 2px solid #33333371;
		border-radius: 15px;
	}
}
.companyName {
	float: left;
	width: 170px;
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	font-weight: 500;
	line-height: 0.93;
	text-transform: uppercase;
	background-color: #fff;
	color: rgb(23, 76, 30);
	text-shadow: 0px 0px 1px rgba(23, 76, 30, 0.274);
}
.introText {
	text-align: justify;
	display: block;
	margin-left: 4%;
	margin-right: 4%;
	padding-bottom: 40px;
	font-size: 2rem;
	line-height: 1.4;
	margin-bottom: 1rem;

	.spanA {
		color: rgb(23, 76, 30);
		text-shadow: 0px 0px 1px rgb(23, 76, 30);
	}
}

//** width 412
@media (min-width: 412px) {
	.companyName {
		line-height: 1;
	}
	.introText {
		margin-left: 4.7%;
		margin-right: 4.7%;
		line-height: 1.5;
	}
}

// width 576px
@include responsive(sm) {
	.titleContainer{
		padding-top: 4rem;
	}
	.companyName {
		margin-left: 1.2rem;
	}
}

// width 768px
@include responsive(md) {
	.companyName {
		margin-left: 1.5%;
	}
	.introText {
		margin-left: auto;
		margin-right: auto;
		min-width: 660px;
		max-width: 660px;
		padding-bottom: 6rem;
	}
}

// width 992px
@include responsive(lg) {
	.companyName {
		margin-left: 10%;
	}
	.introText {
		margin-left: auto;
		margin-right: auto;
		min-width: 720px;
		max-width: 720px;
		padding-bottom: 6rem;
	}
}

// width 1200px
@include responsive(xl) {
	.companyName {
		margin-left: 10%;
		font-size: 1.6rem;
	}
	.introText {
		min-width: 900px;
		max-width: 900px;
		padding-bottom: 12rem;
		font-size: 2.3rem;
	}
}

// width 1400px
@include responsive(xxl) {
	.titleContainer {
		.sectionTitle {
			width: 170px;
			font-size: 2.8rem;
		}
	}
	.companyName {
		margin-left: 11%;
		font-size: 1.7rem;
	}

	.introText {
		font-size: 2.6rem !important;
		min-width: 1050px;
		max-width: 1050px;
	}
}
// width 1500px
@include responsive(maximum) {
	.titleContainer {
		padding-bottom: 2rem;
		.sectionTitle {
			font-size: 2.9rem;
		}
	}
	.companyName {
		margin-left: 14%;
		font-size: 1.8rem;
	}

	.introText {
		max-width: 1070px;
		max-width: 1070px;
		font-size: 2.4rem;
	}
}
