@use "../styles/global.scss" as *;

.categoryBlock {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	border-radius: 8px;
	background-color: #bec7b688;
	box-shadow: 0px 2px 5px #00000068;
	transition: 0.3s;
}
.greenBgc {
	--start: rgb(217, 232, 130);
	// --end: rgb(161, 174, 88);
	--end: rgb(136, 148, 68);
	background: var(--start);
	background: linear-gradient(135deg, var(--start) 0%, var(--end) 100%);
}
.yellowBgc {
	// --start: rgba(241, 239, 137, 0.902);
	--start: rgb(161, 174, 88);
	--end: rgb(238, 241, 219);
	background: var(--start);
	background: linear-gradient(135deg, var(--start) 0%, var(--end) 100%);
}
.brownBgc {
	--start: rgb(225, 162, 89);
	// --end: rgb(224, 206, 185);
	--end: rgb(161, 174, 88);
	background: var(--start);
	background: linear-gradient(135deg, var(--start) 0%, var(--end) 100%);
}
.blueBgc {
	// --start: rgb(112, 131, 217);
	--start: rgb(161, 174, 88);
	--end: rgb(200, 243, 234);
	background: var(--start);
	background: linear-gradient(135deg, var(--start) 0%, var(--end) 100%);
}
.imgFrame {
	margin-top: 5px;
	width: 95%;
	height: 240px;
	border-radius: 12px;
	background-color: #fff;
	box-shadow: 0px 0px 4px #ffffffda;
	overflow: hidden;

	.img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center 70%;
		transition: 1s;
	}
	.img2 {
		object-position: center 45%;
	}
	.img4 {
		object-fit: fill;
	}
}
.contentBox {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.contentTitle {
		padding: 10px;
		margin: 15px;
		width: 190px;
		text-align: center;
		align-self: center;
		font-size: 2.3rem;
		letter-spacing: 0.1rem;
		font-weight: 500;
		text-transform: uppercase;
		border-bottom: 1px solid #33333371;
	}
	ul {
		width: 85%;
		margin-left: 40px;
		font-size: 1.8rem;
		padding-bottom: 20px;

		li {
			margin-top: 7px;
			padding-bottom: 5px;
		}
	}
	.thirdUl {
		margin-left: 60px;
		width: 70%;
	}
}

// width 576px
@include responsive(sm) {
	.categoryBlock {
		width: 92%;
		min-width: 92%;

		&:hover {
			box-shadow: 0px 0px 10px #a8a8a8;
		}

		&:hover > .imgFrame > .img {
			scale: 1.1;
		}
	}
	.imgFrame {
		width: 70%;
		height: 290px;
		border-radius: 20px;
		box-shadow: 2px 0px 8px #ffffffda;
		transition: 0.3s;
	}
	.contentBox {
		.contentTitle {
			width: 200px;
			font-size: 2.4rem;
			transition: 1s;
		}
		ul {
			margin-left: auto;
			margin-right: auto;
			width: 320px;
			font-size: 1.9rem;
			padding-bottom: 25px;

			li {
				padding-bottom: 7px;
			}
		}
	}
}
// width 768px
@include responsive(md) {
	.categoryBlock {
		width: 95%;
		flex-direction: row;
		border: 1px solid #96c6a733;

		&:hover > .imgFrame {
			border: 4px solid #96c6a7f0;
		}
	}
	.imgFrame {
		margin-top: auto;
		margin-bottom: auto;
		height: 280px;
		width: 280px;
		margin-right: 4.2rem;
		border: 4px solid #324d041e;
	}
}
// width 992px
@include responsive(lg) {
	.categoryBlock {
		width: 88%;
		margin-bottom: 1.3rem;
	}
}
// width 1200px
@include responsive(xl) {
	.categoryBlock {
		width: 49%;
		min-width: 49%;
		max-width: 49%;
		gap: 3rem;
	}
	.imgFrame {
		height: 260px;
		flex: 0 0 240px;
		margin-right: 0;
		margin-right: 15px;
		min-width: 230px;
		max-width: 240px;
	}
	.contentBox {
		display: flex;
		justify-content: start;
		flex: 1 1 auto;
		max-width: none;
		min-width: 0;

		.contentTitle {
			font-size: 2.2rem;
		}
	}
	ul {
		width: 100%;
		max-width: 100%;
		padding-right: 10px;
		box-sizing: border-box;

		li{
			font-size: 1.7rem;
		}
	}
}
// width 1400px
@include responsive(xxl) {
	.contentBox {
		.contentTitle {
			margin-bottom: 25px;
			font-size: 2.5rem;
		}
		ul {
			li{
				font-size: 2rem;
			}
		}
	}
}
