@import "../styles/global.scss";

.reviewDesktop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 92vw;
	height: 600px;
	// background-color: #163603;
}
.reviewsBox {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2rem;
}
.vertical {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 32%;
	height: 100%;
	gap: 1.5rem;
	overflow: hidden;
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.8s ease;
	will-change: opacity, transform;
}
.visible {
	opacity: 1;
	transform: translateY(0);
}

.imgFrame {
	border-radius: 15px;
	width: 100%;
	height: 200px;
	min-height: 200px;
	box-shadow: 1px 1px 3px #023e1e;
	overflow: hidden;

	.img {
		width: 100%;
		height: 110%;
		object-fit: cover;
		object-position: 50% 20%;
		transition: 1s;
	}
}

// width 1200px
@include responsive(xl) {
	.reviewDesktop {
		height: 650px;
	}
	.imgFrame {
		height: 240px;
		min-height: 240px;
	}
}
// width 1400px
@include responsive(xxl) {
	.reviewDesktop {
		width: 90vw;
		max-width: 1400px;
		height: 680px;
		gap: 1rem;
	}
	.imgFrame {
		height: 255px;
		min-height: 255px;
	}
}
