@use "../styles/global.scss" as *;

.slideCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 5px;
	border-radius: 15px;
	color: #fff;
	--start: rgb(23, 76, 30);
	--end: rgb(161, 174, 88);
	background: var(--start);
	background: linear-gradient(135deg, var(--start) 0%, var(--end) 100%);
	box-shadow: inset 0px 0px 45px #023028;
}

.imgFrame {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 2px;
	width: 100%;
	height: 260px;
	overflow: hidden;
	box-shadow: 0px 0px 3px #fff;

	.img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center 20%;
		transition: 1s;
	}
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.serviceName {
	text-align: center;

	h2 {
		mily: "Montfont-faserrat", sans-serif; //test
		padding: 2rem;
		letter-spacing: 0.1rem;
		word-spacing: 0.7rem;
		font-size: 2.1rem;
		text-shadow: 0px 0px 5px #000;
	}
}
.serviceContent {
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	padding-bottom: 1.3rem;
	font-size: 1.9rem;
	letter-spacing: 0.1rem;
	text-shadow: 0px 0px 5px #000000ac;
}

@include responsive(sm) {
	.slideCard {
		padding: 1rem;
	}
	.imgFrame {
		width: 90%;
		height: 310px;
		box-shadow: 0px 1px 3px #ffffffcd;

		.img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center 15%;
			// object-position: center 55%;
		}
	}
	.serviceName {
		width: 90%;
		h2 {
			font-size: 2.5rem;
		}
	}
	.serviceContent {
		width: 95%;
		padding-top: 1rem;
		font-size: 2.2rem;
	}
}

// width 768px
@include responsive(md) {
	.slideCard {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.imgFrame {
		margin-left: 0.7rem;
		width: 50%;
		min-height: 320px;
		max-height: 320px;
		height: 70%;
		border-radius: 15px;
		box-shadow: 0px 1px 3px #fff;
	}
	.text {
		width: 60%;
	}
	.serviceName {
		h2 {
			font-size: 2.2rem;
			font-weight: 500;
		}
	}
	.serviceContent {
		padding-top: 1.5rem;
		padding-left: 2rem;
		font-size: 1.9rem;
		text-shadow: 0px 0px 5px #000000b5;
	}
}

// width 992px
@include responsive(lg) {
	.serviceName {
		width: 85%;
		h2 {
			font-size: 2.4rem;
			font-weight: 500;
		}
	}
	.serviceContent {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.imgFrame {
		.img {
			object-position: center 50%;
		}
	}
}

// width 1200px
@include responsive(xl) {
	.imgFrame {
		margin-left: 1rem;
		width: 48%;
	}
	h2 {
		line-height: 1.3;
	}
	.serviceContent {
		width: 92%;
		font-size: 2rem;
		line-height: 1.3;
		word-spacing: 0.2rem;
	}
}

// width 1400px
@include responsive(xl) {
	.imgFrame {
		margin-left: 2.5rem;
		min-height: 365px;
		max-height: 365px;
	}
	.serviceName {
		h2 {
			font-size: 2.5rem;
		}
	}
	.serviceContent{
		margin-top: 1rem;	
		font-size: 2.3rem;
		width: 90%;
	}
}
@include responsive(maximum){
	.imgFrame {
		.img {
			object-position: center 60%;
		}
	}
}