@import "./styles/global.scss";

* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
html {
	font-family: "Dosis", sans-serif;
	font-size: 62.5%; /* 10px */
	background-color: $primary-colorBgc;
}
#root {
	width: 100vw;
	max-width: 1400px;
	color: whitesmoke;
}

.hamburger-react {
	margin-bottom: 5px;
}
a {
	text-decoration: none;
	color: whitesmoke;
	cursor: pointer;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	color: #000;
}

.fa-circle-check {
	font-size: 2.7rem;
	margin-right: 1.5rem;
	color: $mobile-accordion-color;
}
.fa-caret-right, .fa-caret-left{
	color: rgb(239, 239, 239);
	font-size: 4rem;
	padding: .6rem;
}

// width: 576px
@include responsive(sm) {
	section {
		padding: 25px;
	}
}
// width 768px
@include responsive(md) {
	section {
		padding: 35px;
	}
	.fa-circle-check {
		font-size: 2.8rem;
	}
}

// width: 1200px
@include responsive(xl) {
	.fa-circle-check {
		font-size: 2.9rem;
	}
}
// width: 1500px
@include responsive(maximum) {
	#root {
		max-width: 1600px;
	}
}
