@use "../../styles/global.scss" as *;

.contactForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	border: 3px solid rgb(95, 156, 95);
	color: whitesmoke;
	--start: rgb(27, 88, 35);
	--end: rgb(7, 45, 12);
	background: var(--start);
	background: linear-gradient(135deg, var(--start) 0%, var(--end) 100%);
}

// .whiteBlock {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	width: 90%;
// 	height: 340px;
// 	padding: 3rem;
// 	border-radius: 15px;
// 	--start: whitesmoke;
// 	--end: rgb(182, 186, 158);
// 	background: var(--start);
// 	background: linear-gradient(135deg, var(--start) 0%, var(--end) 100%);
// 	box-shadow: inset 0px 0px 45px #c6e1a4;
// }

@include responsive(sm) {
	.contactForm {
		margin-bottom: 3rem;
	}
}
@include responsive(md) {
	.contactForm {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
